    {{#description}}
    /// {{{.}}}
    {{/description}}
    {{#isByteArray}}
    {{#vendorExtensions.isMandatory}}#[serde_as(as = "serde_with::base64::Base64")]{{/vendorExtensions.isMandatory}}{{^vendorExtensions.isMandatory}}#[serde_as(as = "{{^serdeAsDoubleOption}}Option{{/serdeAsDoubleOption}}{{#serdeAsDoubleOption}}super::DoubleOption{{/serdeAsDoubleOption}}<serde_with::base64::Base64>")]{{/vendorExtensions.isMandatory}}
    {{/isByteArray}}
    {{#vendorExtensions.x-vrchat-double-encoding-type}}#[serde_as(as = "serde_with::json::JsonString")]
    {{/vendorExtensions.x-vrchat-double-encoding-type}}
    #[serde(rename = "{{{baseName}}}"{{^isDiscriminator}}{{#isEnum}}{{#required}}{{^isArray}}{{^allowableValues.enumVars.1}}, default{{/allowableValues.enumVars.1}}{{/isArray}}{{/required}}{{/isEnum}}{{/isDiscriminator}}{{#isDiscriminator}}{{#required}}, default{{#isNullable}}, skip_serializing_if = "Option::is_none"{{/isNullable}}{{^isNullable}}{{#isString}}{{^isEnum}}, skip_serializing_if = "String::is_empty"{{/isEnum}}{{/isString}}{{/isNullable}}{{/required}}{{/isDiscriminator}}{{^required}}{{#isNullable}}, default{{^isByteArray}}, with = "::serde_with::rust::double_option"{{/isByteArray}}{{/isNullable}}{{/required}}{{^required}}, skip_serializing_if = "Option::is_none"{{/required}}{{#required}}{{#isNullable}}{{^isDiscriminator}}, deserialize_with = "Option::deserialize"{{/isDiscriminator}}{{/isNullable}}{{/required}})]
    pub {{{name}}}: {{!
    ### Option Start
    }}{{#isNullable}}Option<{{/isNullable}}{{^required}}Option<{{/required}}{{!
    ### Enums
    }}{{#isEnum}}{{#isArray}}{{#uniqueItems}}std::collections::HashSet<{{/uniqueItems}}{{^uniqueItems}}Vec<{{/uniqueItems}}{{/isArray}}{{{enumName}}}{{#isArray}}>{{/isArray}}{{/isEnum}}{{!
    ### Non-Enums Start
    }}{{^isEnum}}{{!
    ### Models
    }}{{#isModel}}{{^avoidBoxedModels}}Box<{{/avoidBoxedModels}}{{{dataType}}}{{^avoidBoxedModels}}>{{/avoidBoxedModels}}{{/isModel}}{{!
    ### Primative datatypes
    }}{{^vendorExtensions.x-vrchat-double-encoding-type}}{{!
    }}{{^isModel}}{{#isByteArray}}Vec<u8>{{/isByteArray}}{{^isByteArray}}{{{dataType}}}{{/isByteArray}}{{/isModel}}{{!
    }}{{/vendorExtensions.x-vrchat-double-encoding-type}}{{#vendorExtensions.x-vrchat-double-encoding-type}}models::{{{vendorExtensions.x-vrchat-double-encoding-type}}}{{/vendorExtensions.x-vrchat-double-encoding-type}}{{!
    ### Non-Enums End
    }}{{/isEnum}}{{!
    ### Option End (and trailing comma)
    }}{{#isNullable}}>{{/isNullable}}{{^required}}>{{/required}},
